/* Estilos Generales */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section, footer {
    margin: 20px;
}

/* Encabezado */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Sección de Destacados */

section {
    padding: 20px;
}

section h2 {
    color: #333;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* Catálogo de Propiedades */

#propiedades {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Páginas Individuales de Propiedades */

/* Estiliza según sea necesario */

/* Acerca de Nosotros */

#acerca-de {
    padding: 20px;
}

#acerca-de h2 {
    color: #333;
}

/* Formulario de Contacto */

#contacto {
    padding: 20px;
}

/* Testimonios */

#testimonios {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer div {
    margin-bottom: 20px;
}

/* Agrega estilos para los íconos */

footer i, footer svg {
    font-size: 24px; /* Tamaño predeterminado para todos los iconos */
    margin-right: 5px;
}

/* Establece tamaños específicos para cada icono si es necesario */

footer .fab {
    font-size: 24px; /* Ajusta el tamaño según tus preferencias */
}

footer svg[xmlns="http://www.w3.org/2000/svg"][viewBox="0 0 512 512"] {
    font-size: 24px; /* Ajusta el tamaño según tus preferencias */
}