body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff; /* Cambia el color del texto a blanco */
  background-color: #333; /* Cambia el color de fondo a negro */
}

header {
  background-color: #fff; /* Cambia el color de fondo a blanco */
  color: #333; /* Cambia el color del texto a negro */
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  max-width: 150px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333; /* Cambia el color del texto a negro */
  font-weight: bold;
  font-size: 16px;
}

/* Media Queries para hacer el header responsive */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 0;
    margin-bottom: 10px;
  }
}

/* Estilos para la sección de bienvenida */
.welcome-message {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.welcome-message h1 {
  font-size: 24px;
  margin: 0;
}

/* Carrusel de Imágenes */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%; /* Asegura que la imagen no supere el ancho del slide */
  height: auto; /* Permite que la altura se ajuste automáticamente */
}

/* Footer */
footer {
  background-color: #fff; /* Cambia el color de fondo a blanco */
  color: #333; /* Cambia el color del texto a negro */
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin-top: auto;
}

/* Establece el fondo blanco */
footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333; /* Cambia el color de fondo a negro */
  z-index: -1;
}

footer .contact-info,
footer .social-icons {
  flex: 1 1 100%;
  margin-bottom: 20px;
}

footer .social-icons {
  order: 3;
}

/* Agrega estilos para los íconos */
footer i,
footer svg {
  font-size: 24px;
  margin-right: 5px;
}

/* Establece tamaños específicos para cada icono si es necesario */
footer .fab {
  font-size: 24px;
}

footer svg[xmlns="http://www.w3.org/2000/svg"][viewBox="0 0 512 512"] {
  font-size: 24px;
}

/* Agrega estilos para los títulos de sección */
footer h3 {
  color: #333; /* Cambia el color del texto a negro */
  margin-bottom: 10px;
}

/* Estilos para el nuevo rectángulo de llamada a la acción */
.cta-rectangle {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.cta-rectangle p {
  font-size: 18px;
  margin-bottom: 10px;
}

.cta-button {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0 10px;
}

/* Media Query para hacer los botones responsivos */
@media screen and (max-width: 768px) {
  .cta-button {
    display: block;
    margin: 10px auto;
  }
}