/* Reset de estilos y estilos básicos */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #333;
  padding: 10px 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
}

.logo {
  max-width: 150px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

/* Media Queries para hacer el header responsive */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 0;
    margin-bottom: 10px;
  }
}
/* Título de la Página */
.welcome-message {
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}

/* Listado de Propiedades en Venta */
#propiedades-venta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.propiedad {
  width: 300px;
  height: 368px; /* Ajusta la altura según sea necesario */
  margin: 20px;
  overflow: hidden; /* Para evitar que las imágenes se salgan del cuadro */
}

.propiedad img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Para mantener la relación de aspecto de la imagen */
}

.propiedad h3 {
  margin: 10px 0;
}

.propiedad p {
  color: #333;
  font-weight: bold;
}

.propiedad a {
  display: block;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.contact-info h3,
.social-icons h3 {
  margin-bottom: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
}
